.footer {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  font-size: 0.75rem;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
}

.footer p {
  margin: 0;
  font-size: 0.75rem;
}
