.page-title {
  margin: 1rem 0;
  font-size: 1.875rem;
  font-weight: bold;
}

.no-artworks-message {
  text-align: center;
}

.no-artworks-message p {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.button-add-artwork {
  margin-bottom: 20% !important;
  background-color: #f97316;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  color: white;
  text-decoration: none;
}

.button-add-artwork:hover {
  background-color: #ea580c;
}

.button-add-artwork:focus {
  outline: 2px solid #ea580c;
}
